.max-container {
    margin-top: 62px;
    width: 100%;
    height: 100%;
    position: absolute;
}

body {
    height: 0;
    padding: 0;
    margin: 0;
}

header .contenedormayor {
    margin-top: 140px;
    background: transparent;
    height: 202px;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .contenedor {
    background: transparent;
    height: 202px;
    width: 1100px;
    display: flex;
    flex-direction: column;
}

header .title h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    margin-left: 16px;
    font-weight: 500;
}

header .title {
    background: white;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.world{
    text-decoration: line-through;
}

.dot{
    color: #0000EC;
}

header .title2 {
    position: relative;
    background: white;
    font-size: 14px;
}

header .title2 .unpodcast {
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
}

header .titlebig {
    position: relative;
    background: white;
    font-size: 15px;
}

header .titlebig .elportal {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
}

header .title3 {
    position: relative;
    margin-top: 50px;
    margin-right: 16px;
    margin-left: 16px;
    color: #060A24;
    background: transparent;
    text-decoration: none;
    z-index: 1;
}

header .title3 a {
    text-decoration: none;
    font-weight: 600 ;
    background: #00F3BB;
    color: #060A24;
    padding: 15px 63px;
}

header .title3 a:hover {
    background: linear-gradient(to right, #00F0B8, #0000FE);
    color: white;
}


@media (max-width:645px) {
    header .titlebig .elportal {
        display: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
    }

    header .title2 .unpodcast {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
    }

    .dot {
        color: black;
    }
}


@media (max-width:425px) {

    header .contenedormayor {
        margin-top: 30px;
        background: white;
        height: 202px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    header .title {
        background: white;
        font-size: 20px;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    header .title2 .unpodcast {
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 16px;
        margin-right: 16px;
    }

    header .title3 a {
        text-decoration: none;
        background: #00F3BB;
        padding: 15px 50px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:460px) {
    .br {
        display: none;
    }
}
